@model BankManagement.Models.User


<div class="bg rounded-2">
    <form method="post" asp-controller="home" asp-action="login" class="mx-5 mb-5 d-flex flex-column form-group text-center">
        <label class="yekan-font fw-bold fs-4">فرم ورود</label>
        <input asp-for="NationalCode" class="form-control mt-4" type="number" placeholder="نام کاربری" />
        <input asp-for="PhoneNumber" class="form-control mt-4" type="number" placeholder="رمز عبور" />
            <div class="form-text text-end text-danger fw-4">
            <img src="@ViewBag.ErrorImg">
            @ViewBag.ErrorMessage
            </div>
        <input class="btn btn-dark mt-4" type="submit" value="ورود"/>
    </form>
</div>