


<div class="bg rounded-2">
    <form class="mx-5 mb-5 d-flex flex-column gap-5 form-group text-center">
        <label class="yekan-font fw-bold fs-4">فرم ورود</label>
        <input class="form-control" type="number" placeholder="نام کاربری"/>
        <input class="form-control" type="number" placeholder="رمز عبور"/>
        <input class="btn btn-dark" type="submit" value="ورود"/>
    </form>
</div>