@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir.eot);
    src: url(../fonts/Vazir.eot?#iefix) 
    format('embedded-opentype'), url(../fonts/Vazir.woff)
    format('woff'), url(../fonts/Vazir.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir-Bold.eot);
    src: url(../fonts/Vazir-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Vazir-Bold.woff) format('woff'), url(../fonts/Vazir-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir-Light.eot);
    src: url(../fonts/Vazir-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Vazir-Light.woff) format('woff'), url(../fonts/Vazir-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face{
    font-family: yekan;
    src: url(../fonts/Yekan.ttf);
    font-weight: normal;
}

* {
    direction: rtl;
    font-size: 100%;
    font-family: Vazir;
}

.bg{
    background-color: rgb(0, 255, 255);
    min-width: 400px;
    margin: 5rem 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media(max-width: 1200px){
    .bg {
        min-width: 400px;
        max-width: 600px;
        margin: 5rem auto;
    }
}

.yekan-font{
    font-family: yekan;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}